{% extends "layout.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
<form method="POST" action="/movie/{{ id }}/pdf" class="form-download-as-pdf">
<input type="hidden" name="html_data" value="">
<button class="btn btn-primary download-as-pdf" type="submit">Скачать в PDF</button>
</form>

<h1>«{{ data.header }}»</h1>

<h3>Информация</h3>
{% if data.info|length > 0 %}
<table class="table table-striped table-condensed">
{% for key, value in data.info %}
<tr>
    <td>{{ key }}</td>
    <td>
        {% if value is iterable %}
            <ul>
            {% for v in value %}
                <li>{{ v }}</li>
            {% endfor %}
            </ul>
        {% else %}
            {{ value }}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>
{% endif %}

<h3>Актёры</h3>
{% if data.info|length > 0 %}
<table class="table table-striped table-condensed">
{% for field in data.actors %}
<tr><td><img src="http://www.kinopoisk.ru{{ field.photo }}" alt="Фотография актёра"></td><td>{{ field.name }}</td><td>{{ field.role }}</td></tr>
{% endfor %}
</table>
{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block bottom_scripts %}
{{ parent() }}
<script>
(function ($) {
    "use strict";

    $(".form-download-as-pdf").submit(function (event) {
        var html = $("html").clone(),
            style = $("<style>\n" +
            "* { font-family: DejaVu Sans, sans-serif; }\n" +
            ".form-download-as-pdf { display: none; }\n" +
            "</style>");
        html.find(".download-as-pdf").remove();
        html.find("head").append(style);
        //Issue with border-box in Bootstrap. @see https://github.com/dompdf/dompdf/issues/631
        html.find("link[rel=stylesheet]").remove();
        this.html_data.value = html.html();
    });
})(jQuery);
</script>
{% endblock %}
